<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP NEWS APP</title>
    </head>
    <body>

    <div id = "app">

        <div class="header">
            Get sentiment from text...
        </div>

        <div class="input" >
            <form class="input-area">
                <textarea id="input-text" placeholder="Write something here..."></textarea>
                <input id="submit-botton" type="submit" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </div>

        <div class="output">
            <div id="polarity"></div>
            <div id="subjectivity"></div>
            <div id="polarity_confidence"></div>
            <div id="subjectivity_confidence"></div>
        </div>

    </div>
    </body>
</html>
