#app{
    display: grid;
    height: 100vh;
    justify-content: center;
    grid-gap: 1em;
    font-size: 15px;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
            '. head-area .'
            '. input-area .'
            '. output-area .'
}

body {
    width: 100%;
    display: block;
    flex-direction: column;
    flex-flow: column nowrap;
    background: lightyellow;
}

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

.head {
    display: flex;
    justify-content: center;
    grid-area: head-area;
    //justify-content: space-between;
    padding: 10px 40px;
    font-size: 10px;
}

.input {
    display: flex;
    justify-content: center;
    grid-area: input-area;
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#submit-botton{
    color: black;
    font-size: 15px;
    margin-top: 2rem;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 4px 5px #4444;
}

//#input-text{
//    width: 100%;
//    height: 100%;
//    color: black;
//    font-size: 10px;
//    border: 5px;
//    border-radius: 5px;
//    box-shadow: 3px 4px 5px #4444;
//}

#input-text{
    resize: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 1px black;
}

.output {
    font-size: 20px;
    color: black;
    display: flex;
    grid-area: output-area;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#polarity{
    margin-top: 10px;
}

#subjectivity{
    margin-top: 10px;
}

#polarity_confidence{
    margin-top: 10px;
}

#subjectivity_confidence{
    margin-top: 10px;
}


@media(max-width: 500px) {

    #polarity{
        margin-top: 10px;
        font-size: 12px;
    }

    #subjectivity{
        margin-top: 1px;
        font-size: 12px;

    }

    #polarity_confidence{
        margin-top: 1px;
        font-size: 12px;

    }

    #subjectivity_confidence{
        margin-top: 1px;
        font-size: 12px;

    }

}